body {
  background-image: url('blog-background.jpg');
}



.row1 {
  margin-right: 180px;
  margin-left: 180px;
  font-family: Georgia;
  background-color: white;
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 20px;

}

.intro {
  opacity: .8;
  color: white;
  text-align: center;
 background-color: black;
  margin-top: 20px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 30px;
}


.intro h2 {
  font-size: 400%;
  font-family: "Courier New", Courier, monospace;

}