body {
  background-image: url('background.jpg');
}

.text-center {
  font-family: Georgia, monospace;
  font-size: 9em;
  color: white;
  margin-top: 200px;

}


h3 {
  color: white;
  margin-left: 515px;
  margin-right: 515px;
  font-family: "Lucida Console", Monaco;
  padding-top: 20px;
}


.nav {
  background: black;
  opacity: .7;
  font-size: 3em;
  color: white;
  text-decoration: none;
  padding: 30px;
  margin-left: 250px;
  margin-top: 70px;
}

.nav a {
  opacity: 1;
  color: #F5F5F5;
  padding: 50px;
}

.nav a:hover {
    color: black;
}

